<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
        <script>
            if (JSON && JSON.stringify && JSON.parse) var Session = Session || (function() {
             
             // window object
             var win = window.top || window;
             
             // session store
             var store = (win.name ? JSON.parse(win.name) : {});
             
             // save store on page unload
             function Save() {
               win.name = JSON.stringify(store);
             };
             
             // page unload event
             if (window.addEventListener) window.addEventListener("unload", Save, false);
             else if (window.attachEvent) window.attachEvent("onunload", Save);
             else window.onunload = Save;
            
             // public methods
             return {
             
               // set a session variable
               set: function(name, value) {
                 store[name] = value;
               },
               
               // get a session value
               get: function(name) {
                 return (store[name] ? store[name] : undefined);
               },
               
               // clear session
               clear: function() { store = {}; },
               
               // dump session data
               dump: function() { return JSON.stringify(store); }
            
             };
            
            })();
            </script>
       
    <title>Login</title>
    <style>
        a:hover {
            background-color: rgb(139, 228, 220);
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #section-1 {
            background-repeat: no-repeat;
            background-size: cover;
            background: url("http://www.topglove.com/App_ClientFile/7ff8cb3f-fbf6-42e7-81da-6db6a0ab2ef4/WebSettings/UploadItem/9923a8ca-6e09-42f8-92bf-18c7c4c427ca.jpg");
            background-position: center;
            background-attachment: fixed;
            min-height: 700px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        #section-1 .over-lay {
            width: 100%;
            min-height: 700px;
            background: rgba(0, 0, 0, 0.7);
        }
    </style>

</head>

<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Glove Weight Spot Check</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="#">
                        <i class="fas fa-user"></i> Admin </a>
                    <a class="nav-item nav-link" href="https://localhost:3000/userschedule">
                        <i class="fas fa-users"></i> User </a>
                </div>
            </div>
        </div>
    </nav>

    <div id="section-1">
        <div class="over-lay">
            <div class="container text-white">
                <div class="row mt-5">
                    <div class="col-8 d-none d-lg-block mt-1">
                        <div class="container mt-5 d-none d-lg-block">
                            <div class="jumbotron-fluid">
                                <h1 class="display-1">TOP GLOVE</h1>
                                <p class="lead" style="font-size: 30px;">TOP QUALITY, TOP EFFICIENCY, GOOD HEALTH, SAFETY FIRST & BE HONEST</p>
                                <hr class="my-4">
                                <a class="btn btn-primary btn-lg" href="http://www.topglove.com/" role="button">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card bg-info text-white text-center">
                            <div class="card-body">
                                <h3 class="pb-3">Please Login</h3>
                                <!-- <form action="http://localhost:3000/signin" method="POST"> -->
                                    <div class="form-group">
                                        <input type="text" class="input-font py-4 form-control" name="username1" id="username1" placeholder="Username">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="input-font py-4 form-control" name="password1" id="password1" placeholder="Password">
                                    </div>

                                    <button type="submit" id="submit" onclick="validate()"  class="input-font btn btn-block btn-outline-light"  value="Submit">Submit</button>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="section-6" class="bg-dark">
        <div class="container text-white">
            <div class="row py-4">
                <div class="col text-center">
                    <p id="demo">Copyright </p>
                </div>
            </div>
        </div>

    </div>
    <script>
        function myFunction() {
            var d = new Date();
            var n = d.getFullYear();
            document.getElementById("demo").innerHTML = 'Copyright &copy; ' + n;
        }
        myFunction()

       

    </script>
    <script>
        var attempt = 3; // Variable to count number of attempts.
        // Below function Executes on click of login button.
        function validate() {
          fetch('./user.json')
            .then(function (response) {
              return response.json();
            })
            .then(function (myJson) {
              var username = document.getElementById("username1").value;
              var password = document.getElementById("password1").value;
              if (username == myJson[0].user && password == myJson[0].password) {
                alert("Login successfully");
                Session.set("status", '1');
                // alert(Session.get("name"));
                window.location = "https://localhost:3000/dailyschedule"; // Redirecting to other page.
                return false;
              }
              else {
                attempt--;// Decrementing by one.
                alert("You have left " + attempt + " attempt;");
                // Disabling fields after 3 attempts.
                if (attempt == 0) {
                  document.getElementById("username1").disabled = true;
                  document.getElementById("password1").disabled = true;
                  document.getElementById("submit").disabled = true;
                  return false;
                }
              }
            });
        }
      </script>
     





</body>

</html>