<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        <script>
        if (JSON && JSON.stringify && JSON.parse) var Session = Session || (function() {
         
         // window object
         var win = window.top || window;
         
         // session store
         var store = (win.name ? JSON.parse(win.name) : {});
         
         // save store on page unload
         function Save() {
           win.name = JSON.stringify(store);
         };
         
         // page unload event
         if (window.addEventListener) window.addEventListener("unload", Save, false);
         else if (window.attachEvent) window.attachEvent("onunload", Save);
         else window.onunload = Save;
        
         // public methods
         return {
         
           // set a session variable
           set: function(name, value) {
             store[name] = value;
           },
           
           // get a session value
           get: function(name) {
             return (store[name] ? store[name] : undefined);
           },
           
           // clear session
           clear: function() { store = {}; },
           
           // dump session data
           dump: function() { return JSON.stringify(store); }
        
         };
        
        })();
        </script>
    <style type="text/css">
    #check{
        color: brown;
        font-size: 20px;
    }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #83D0C9;">
        <h5>Glove Weight Spot Check</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="logout" href="http://localhost:3000/userschedule"> Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="background-color: rgb(192, 250, 245);">
        <div class="row justify-content-center">
            <div class="col-12">    

                <div class="d-flex justify-content-end">
                                <p class="font-weight-bold" id="check" name="check">N/A</p>
                    </div>
            
                <div class="row  d-flex justify-content-center">
                    <h5>Glove Weight Form</h5>
                </div>

                <form action="http://localhost:3000/save_data" method="POST" id="form">

                         

                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">badgeNo</label></div>
                            <div class="col-6">
                                <input type="text" data-cutid=" " id="badge1" name="badge1" class="form-control"
                                    placeholder="Badge" readonly>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Block :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="block1" name="block1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Line :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="productline1" name="productline1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Name :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" onchange="overlength_weight1()" id="productname1" name="productname1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Type :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" onchange="overlength_weight1()" id="producttype1" name="producttype1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Size :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" onchange="overlength_weight1()"
                                    id="productsize1" name="productsize1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Length :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Length" id="length1" name="length1">
                            </div>
                        </div>
                        <b class="form-text text-danger" id="overlength1"> </b>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Weight :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Weight" id="weight1" name="weight1">
                            </div>
                        </div>
                        <b class="form-text text-danger" id="overweight1"></b>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Line Speed :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Line Speed" id="linespeed1" name="linespeed1">
                            </div>
                        </div>

                        <div class="row mt-4  d-flex justify-content-center">
                            <input type="submit" name="submit" value="Submit" id="submit" class="btn btn-success">
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">

    var data = "{{data}}"
    var de_data = JSON.parse(decodeURI(data))
    console.log(de_data.Schedule)
    //  console.log(de_data.Product)
    //  console.log(de_data.Staff)
    //  console.log(de_data.StdLength)
    //  console.log(de_data.StdSize)
    //  console.log(de_data.StdWeight)
    var StdBlock = [];
    var Staff = [];
    var Product = []
    var StdProductName = [];
    var StdProductType = [];
    var StdProductline = [];
    var StdSize = [];
    var StdLength = [];
    var StdWeight = [];
    var Schedule = [];
    var option_block = "<option disabled selected>select</option>"
    var option_productline = "<option disabled selected>select</option>"
    var option_productname = "<option disabled selected>select</option>"
    var option_producttype = "<option disabled selected>select</option>"
    var option_productsize = "<option disabled selected>select</option>"
    var option_length = "<option disabled selected>select</option>"
    var option_weight = "<option disabled selected>select</option>"
    var check = de_data.Schedule.s_check
    var line_check = de_data.Schedule.s_linespotcheck
    check ++
   

    mm()
    function mm() {
        // ===================================================================================================//
        for (let i = 0; i < de_data.StdBlock.length; i++) {
            StdBlock.push(de_data.StdBlock[i])
            option_block += '<option value="' + StdBlock[i].std_block + '">' + StdBlock[i].std_block + '</option>'
        }
        for (let i = 0; i < de_data.StdProductline.length; i++) {
            StdProductline.push(de_data.StdProductline[i])
            option_productline += '<option value="' + StdProductline[i].std_productline + '">' + StdProductline[i].std_productline + '</option>'
        }
        for (let i = 0; i < de_data.Staff.length; i++) {
            Staff.push(de_data.Staff[i])
            
        }
        for (let i = 0; i < de_data.StdProductName.length; i++) {
            StdProductName.push(de_data.StdProductName[i])
            option_productname += '<option value="' + StdProductName[i].std_productname + '">' + StdProductName[i].std_productname + '</option>'
        }
        for (let i = 0; i < de_data.StdProductType.length; i++) {
            StdProductType.push(de_data.StdProductType[i])
            option_producttype += '<option value="' + StdProductType[i].std_producttype + '">' + StdProductType[i].std_producttype + '</option>'
        }
        for (let i = 0; i < de_data.Product.length; i++) {
            Product.push(de_data.Product[i])
        }

        for (let i = 0; i < de_data.StdSize.length; i++) {
            StdSize.push(de_data.StdSize[i])
            option_productsize += '<option value="' + StdSize[i].std_size + '">' + StdSize[i].std_size + '</option>'
        }
        for (let i = 0; i < de_data.StdLength.length; i++) {
            StdLength.push(de_data.StdLength[i])
            option_length += '<option value="' + StdLength[i].std_length + '">' + StdLength[i].std_length + '</option>'
        }
        for (let i = 0; i < de_data.StdWeight.length; i++) {
            StdWeight.push(de_data.StdWeight[i])
            option_weight += '<option value="' + StdWeight[i].std_weight + '">' + StdWeight[i].std_weight + '</option>'
        }
     
            console.log(check)
            console.log('------')
            console.log(line_check)
        // ===================================================================================================//
        //let badge = Staff[0].badgeNo
        // document.getElementById(":first/badge").value = Staff[0].badgeNo
        display_all()
    }
     function display_all(){
        document.getElementById("badge1").value = Staff[0].badgeNo
        document.getElementById("block1").innerHTML = option_block
        document.getElementById("productline1").innerHTML = option_productline
        document.getElementById("productname1").innerHTML = option_productname
        document.getElementById("producttype1").innerHTML = option_producttype
        document.getElementById("productsize1").innerHTML = option_productsize
        document.getElementById("length1").innerHTML = option_length
        document.getElementById("weight1").innerHTML = option_weight
        document.getElementById("check").innerHTML = check+ "/"+line_check 

        
        }

    function overlength_weight1() {

        let selectname = document.getElementById("productname1")
        let optionname = selectname.options[selectname.selectedIndex].value;

        let selecttype = document.getElementById("producttype1")
        let optiontype = selecttype.options[selecttype.selectedIndex].value;

        let selectsize = document.getElementById("productsize1")
        let optionsize = selectsize.options[selectsize.selectedIndex].value;

        {{!-- console.log(optionname)
        console.log(optiontype)
        console.log(optionsize) --}}

        if(document.getElementById("overlength1").childNodes[0]!=null){
            let list = document.getElementById("overlength1");
            list.removeChild(list.childNodes[0]);
        }
        
        if(document.getElementById("overweight1").childNodes[0]!=null ){
            let w_list = document.getElementById("overweight1");
                w_list.removeChild(w_list.childNodes[0]);
        }

        if (optionname !== 'select' && optiontype !== 'select' && optionsize !== 'select') {
            for (let i = 0; i < Product.length; i++) {
                if (optionname == Product[i].product_name && optiontype == Product[i].product_type && optionsize == Product[i].product_size) {
                    let l = document.createTextNode("*** Std Length " + Product[i].length_min + " mm to " + Product[i].length_max + " mm ***");
                    document.getElementById("overlength1").appendChild(l)
                    let w = document.createTextNode("*** Std Weight " + Product[i].weight_min + " g to " + Product[i].weight_max + " g ***");
                    document.getElementById("overweight1").appendChild(w);
                } else {
                }
            }
        }
    }


    function setCookie(cname,cvalue,exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires=" + d.toGMTString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function checkCookie() {
  var user=getCookie("username");
  if (user != "") {
    alert("Welcome again " + user);
  } else {
     user = prompt("Please enter your name:","");
     if (user != "" && user != null) {
       setCookie("username", user, 30);
     }
  }
}

</script>

</html>